parameters:
  ibericode_vat:
    rates:
      storage_path: '%kernel.project_dir%/var/vat-rates'
      ttl: 86400
    geolocator:
      service: 'ip2c.org'



services:
  ibericode_vat:
    countries:
      class: Ibericode\Vat\Countries

    validator:
      class: Ibericode\Vat\Validator

    rates:
      class: Ibericode\Vat\Rates
      arguments:
        $storagePath: '%ibericode_vat.rates.storage_path%'
        $refreshInterval: '%ibericode_vat.rates.ttl%'

    geolocator:
      class: Ibericode\Vat\Geolocator
      arguments:
        $service: '%ibericode_vat.geolocator.service%'

    validator.vat_number_validator:
      class: Ibericode\Vat\Bundle\Validator\Constraints\VatNumberValidator
      arguments:
        $validator: '@ibericode_vat.validator'

