parameters:
    ibericode_vat.rates.storage_path: '%kernel.project_dir%/var/vat-rates'
    ibericode_vat.rates.ttl: 86400
    ibericode_vat.geolocator.service: 'ip2c.org'

services:
  ibericode_vat.countries:
    class: Ibericode\Vat\Countries

  ibericode_vat.validator:
    class: Ibericode\Vat\Validator

  ibericode_vat.rates:
    class: Ibericode\Vat\Rates
    arguments:
      $storagePath: '%ibericode_vat.rates.storage_path%'
      $refreshInterval: '%ibericode_vat.rates.ttl%'

  ibericode_vat.geolocator:
    class: Ibericode\Vat\Geolocator
    arguments:
      $service: '%ibericode_vat.geolocator.service%'

  ibericode_vat.validator.vat_number_validator:
    class: Ibericode\Vat\Bundle\Validator\Constraints\VatNumberValidator
    arguments:
      $validator: '@ibericode_vat.validator'

  Ibericode\Vat\Countries: '@ibericode_vat.countries'
  Ibericode\Vat\Validator: '@ibericode_vat.validator'
  Ibericode\Vat\Rates: '@ibericode_vat.rates'
  Ibericode\Vat\Geolocator: '@ibericode_vat.geolocator'
  Ibericode\Vat\Bundle\Validator\Constraints\VatNumberValidator: '@ibericode_vat.validator.vat_number_validator'

